<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    

    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">   
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                
                <!-- right side div -->
                <div class="col-md-12 col-12 main_header_left">
                    <figure>
                        <img src="images/404_error.jpg" alt="Person image" class="img-fluid" id="image">
                    </figure>

                </div>
                  <h1 id="errorMsg">{{errorMsg}}</h1>  
                  <a href="/"><button class="errBtn">BACK TO HOME</button></a> 
        </div>
    </div>


    <!-- footer part -->
    <footer><p> Made By Ram_Pata❤ </p></footer>

</body>
</html>
